:root {
    --wawe-color: #01353E;
    --text-color: #242121;
    --title-color: #0D302C;
    --hover-color: #00B2A0;
    --white-color: #FFFFFF;
    --title-font: 'Raleway', sans-serif;
    --text-font: 'Roboto Condensed', sans-serif
}

body {
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: var(--text-color);
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: var(--wawe-color);
    position: relative;
    padding-right: 40px;
    text-align: center;
}

.title::after {
    align-self: center;
    position: absolute;
    content: "";
    width: 8px;
    height: 69px;
    background-color: var(--hover-color);
    transform: translate(10px, 20px) rotate(36deg) skewY(324deg);
}

.header {
    background: url('../images/header-bg.jpg') no-repeat center center / cover;
    min-height: 100vh;
}

.header__top-inner {
    padding-top: 29px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 185px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__list-item+.menu__list-item {
    margin-left: 45px;
}

.menu__list-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    padding: 0 3px 5px;
    transition: all .3s;
}

.menu__list-link:hover {
    border-bottom: 1px solid var(--hover-color);
}

.header__content-inner {
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    padding-top: 190px;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    color: var(--title-color);
}

.header__subtitle {
    font-style: 400;
    margin-bottom: auto;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.header__icon {
    margin-bottom: 60px;

}

.about {
    padding: 190px 0 200px;

}

.about__title {
    margin-bottom: 96px;
    text-align: right;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__inner p {
    margin-bottom: 30px;
    max-width: 480px;
}

.about__text-left {
    margin-right: 120px;
}

.about__text-right p:first-child {
    margin-bottom: 48px;
}

.about__text-right p:nth-child(2) {
    margin-bottom: 79px;
}

.opportunities {
    display: flex;
    padding: 180px 0;
    background-color: #F8F8F8;
}

.opportunities__title {
    margin-bottom: 100px;
}

.opportunities__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.opportunities__item {
    margin-right: 75px;
    max-width: 350px;
}

.opportunities__item:last-child {
    margin-right: 0;
}

.opportunities__item-title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    position: relative;
    height: 50px;
    padding-left: 115px;
    max-width: 250px;
}

.opportunities__item-title--living {
    background: url('../images/living-icon.svg') no-repeat 28%;
    padding-top: 10px;
}

.opportunities__item-title--fly {
    background: url('../images/fly-icon.svg') no-repeat 30%;
}

.opportunities__item-title--training {
    background: url('../images/training-icon.svg') no-repeat 30%;
}

.opportunities__inner {
    display: flex;
}

.opportunities__info {
    width: 346px;
    margin-right: 254px;
    flex: none;
}

.opportunities__info-item {
    margin-bottom: 13px;
    padding-top: 10px;
}

.opportunities__info-item-text {
    font-weight: 400;
    font-size: 24px;
    position: relative;
}

.opportunities__info-item-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 15px;
}

.opportunities__info-item-text--comming {
    padding-left: 210px;
}

.opportunities__info-item-text--comming::before {
    width: 200px;
    background: url('../images/vave-1-icon.svg') no-repeat;
}

.opportunities__info-item-text--training {
    padding-left: 257px;
}

.opportunities__info-item-text--training::before {
    width: 247px;
    background: url('../images/vave-2-icon.svg') no-repeat;
}

.opportunities__info-item-text--happy {
    padding-left: 303px;
}

.opportunities__info-item-text--happy {
    width: 293px;
    background: url('../images/vave-3-icon.svg') no-repeat;
}

.opportunities__text p {
    margin-bottom: 30px;
}

.training__title {
    width: 560px;
}

.training {
    background-image: url('../images/training-bg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    min-height: 100vh;
}

.training__inner {
    width: 510px;
    margin-right: auto;
    padding: 200px 0 270px;
}

.training__title {
    margin-bottom: 100px;
}

.training__text p {
    margin-bottom: 30px;
}

.gallery {
    padding-top: 70px;
}

.gallery__title {
    margin-bottom: 212px;
}

.gallery__filter-btn {
    margin-bottom: 50px;
}

.gallery__btn {
    background: transparent;
    border: none;
    font-weight: 400;
    margin-right: 20px;
    font-size: 24px;
    line-height: 18px;
}

.mixitup-control-active {
    color: var(--hover-color);
}

.gallery__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 50px;
}

.gallery__item-1 {
    grid-area: 1 / 1 / 2 / 3;
}

.gallery__item-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.gallery__item-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.gallery__item-4 {
    grid-area: 1 / 3 / 2 / 4;
}

.gallery__item-5 {
    grid-area: 1 / 4 / 2 / 5;
}

.gallery__item-6 {
    grid-area: 2 / 3 / 3 / 5;
}

.gallery__item {
    position: relative;
    transition: .3 all;
}

.gallery__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.7);
    opacity: 0;
}

.gallery__item:hover {
    cursor: pointer;
}

.gallery__item:hover::before {
    opacity: 1;
}



.gallery__add {
    display: block;
    text-align: center;
    padding: 23px 91px 24px;
    border: 1px solid #C4C4C4;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 200px;
}

.blockquote__container {
    background-color: #F8F8F8;
    margin-bottom: 200px;
    padding: 80px 0;
}

.blockquote {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.blockquote__author {
    display: block;
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.gallery__video {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-image: url(../images/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 200px;
}

.gallery__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.gallery__numbers-item {
    margin-right: 100px;
    font-weight: 700px;
    font-size: 64px;
    line-height: 75px;
    color: var(--wawe-color);
}

.gallery__numbers-item span {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
}

.blog {
    margin-bottom: 200px;
}

.blog__title {
    margin-bottom: 230px;
}

.blog__background {
    padding: 300px 0 70px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(36, 33, 33, 0.5)),
        url('../images/slider-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blog__slider {
    color: #fff;
}

.blog-slider__inner {
    margin-left: 50%;
    margin-bottom: 250px;
}

.blog__slider-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

ul.slick-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.slick-dots li+li {
    margin-left: 15px;
}

.slick-dots button {
    border: none;
    background-color: #fff;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}

.slick-dots .slick-active button {
    background-color: var(--hover-color);
    width: 16px;
    height: 16px;
}

.team {
    padding-bottom: 200px;
}

.team__title {
    margin-bottom: 200px;
}

.team__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.team__item img {
    margin-bottom: 25px;
}


.team__name {
    font-size: 18px;
    line-height: 18px;
}

.prices {
    background-color: #F8F8F8;
    padding: 200px 0;
}

.prices__title {
    margin-bottom: 180px;
}

.prices__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul.prices__item {
    background-color: #fff;
    padding: 45px 30px 45px 43px;
}

.prices__item li {
    margin-bottom: 20px;
    font-weight: 400;
}

.prices__item .prices__item-title {
    text-align: center;
    font-weight: normal;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 40px;
    color: var(--wawe-color);
}

.prices__item:first-child li:last-child {
    margin-top: 137px;
}

.prices__item li:last-child {
    text-align: center;
    margin-top: 60px;
}

.prices__item .prices__item-link {
    font-style: normal;
    font-size: 36px;
    line-height: 40px;
    color: var(--wawe-color);
    position: relative;
}

.prices__item span {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    bottom: 20%;
    left: 105%;
}

.map {
    padding: 200px;
    position: relative;
}

.map:before {
    position: absolute;
    content: "";
    width: 56px;
    height: 69px;
    top: 29%;
    left: 48%;
    background-image: url('../images/pin-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contacts {
    padding-bottom: 200px;
}

.contacts__title {
    margin-bottom: 240px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.contacts__form {
    max-width: 570px;
    flex: auto;
    margin-right: 30px;
}

.form input,
.form textarea {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid #DADADA;

}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: var(--hover-color);
}

.form textarea::placeholder {
    max-width: 260px;
}

.form input {
    padding-bottom: 18px;
    margin-bottom: 32px;
}

.form textarea {
    padding-bottom: 100px;
    margin-top: 53px;
    resize: none;
    overflow: hidden;
    margin-bottom: 73px;
}

.form button {
    padding: 24px 110px;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    cursor: pointer;
}

.contacts__info {
    background-color: #F8F8F8;
    max-width: 600px;
    flex: auto;
    padding: 49px 229px 70px 50px;
}

.contacts__info p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.contacts__info p+p {
    margin-top: 65px;
}


.socials__list {
    display: flex;
    justify-content: center;
}

.socials__list-item+.socials__list-item {
    margin-left: 10px;
}

.socials__list-link {
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-color);
    transition: .3s all;
}

.socials__list-link:hover {
    color: var(--hover-color);
}

.footer {
    background-color: var(--hover-color);
    padding: 68px 0;
    text-align: center;
}

.footer__logo {
    display: inline-block;
}